.eye-inner {

    background-repeat: no-repeat;
    background-size: contain;
    height: 100%;
    width: 100%;
}

.eyes-container {
    position: absolute;
    display: flex;
    left: 90px;
    top: 21px;
    height: 160px;
    width: 190px;

    z-index: 1;
 
}
.outer-assistant-wrap {
    animation-name: floatAni;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-out;
    
}
@keyframes floatAni {
    0% {
        transform: scale(0.5) translateY(0px);
    }   
    50% {
        transform: scale(0.5)translateY(10px);
    }

    100% {
        transform: scale(0.5) translateY(0px);
    }
}

.eye {
    display: block;
    width: 120px;
    height: 120px;
    position: relative;
    border-radius: 100%;
}

.eye-outer-img {
    position: relative;
    width: 340px;
    height: 300px;
    /* pointer-events: none; */
    cursor: pointer;
    z-index: 9999999;
    bottom: 30px;
    left: 32px;
    filter: none !important;
    max-width: unset !important;

}

.eye-white {
    background-size: 92% 105%;
    background-repeat: no-repeat;
    width: 383px;
    height: 311px;
    top: -41px;
    left: 23px;
    position: absolute;
}



.assistant-speechbubble {
    display: none;
    position: fixed;
    background: white;
    border: 2px solid black;
    border-radius: 10px;
    min-height: 20px;
    min-width: 20px;
    max-width: 400px;
    bottom: 350px;
    right: 90px;
    padding: 20px;
    font-size: 28px;
}

.eye-assistant-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, calc(-50% - 20px) );
    background-color: rgb(19 0 54 / 85%);
    backdrop-filter: blur(22px);
    border-radius: 5px;
    min-width: 60vw;
    /* min-height: 600px; */
    visibility: hidden;
    opacity: 0;
    transition: 0.4s;
}

.eye-assistant-popup-close {
    padding: 7px 10px;
    color: white;
    font-weight: 700;
    border-radius: 50%;
    background: #db1200;
    display: inline-block;
    width: 30px;
    height: 30px;
    margin: 10px;
    cursor: pointer;
    line-height: 18px;
    font-size: 14px;
    box-sizing: border-box;
    position: absolute;
    right: -20px;
    top: -20px
}

.eye-assistant-popup.showpopup {
    visibility: visible;
    opacity: 1;
    transform: translate(-50%, calc(-50% - 0px) );
}
.eye-assistant-popup-content {
    padding: 30px;
    margin: 10px;
    overflow: scroll;
    height: calc(100vh - 180px);
}

.eye-assistant-h2  {
    color:#ffffff;
    font-size: 30px;
    margin-bottom: 20px;
}

.eye-assistant-p {
    color: #8ba5fa;
    font-size: 18px;
    margin-bottom: 30px;
}